body {
  background-color: #fefae0;
  color: #4e342e;
  font-family: sans-serif;
  margin: 0;
}

.contenido-oraciones {
  padding: 1rem;
  max-width: 800px;
  margin: auto;
}

.oracion {
  background-color: white;
  padding: 1.2rem;
  margin-bottom: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.oracion h2 {
  color: #14532d;
  font-size: 1.2rem;
  margin-top: 0;
}

.oracion p {
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 0.8rem;
  font-size: 1rem;
}
